@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
  display: flex;
}
.text-primary {
  color: #ff900e;
}
/* Dark 02 */
.text-gray {
  color: #424242;
}
/* Dark 03 */
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #ff900e;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
}
.btn-primary:hover {
  background-color: #9cc4ee;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
/* Header Styles */

/* Navbar Related Styles */

.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* Banner Related Styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-image {
  width: 100%;
}
/* Team and feature relared styles */
.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.our-features {
  margin-left: 130px;
  max-width: 530px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
#quick-list {
  font-weight: 500;
}
/* Features you will love & enjoy section */
.features {
  gap: 100px;
}
#feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 10px;
}
.feature-card {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgb(0, 0, 0, 0.06);
  margin-bottom: 20px;
}
.feature-card .feature-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 0;
}
#Experience-badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: -100px;
  margin-left: -100px;
}
#Experience-year {
  font-size: 4rem;
  font-weight: 700;
}
.featured-architect img {
  width: 100%;
}
/* Some Facts Related Styles */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fact-card:hover {
  background-color: rgb(151, 236, 167);
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description {
  font-size: 1rem;
  max-width: 540px;
}

/* Sponsor Related Styles */
.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img {
  filter: grayscale(100%);
}
.footer-info {
  max-width: 1440px;
  width: 0 auto;
  display: flex;
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 40px;
  background-color: #fff4e7;
  margin: 130px;
  justify-content: center;
  align-items: center;
}
.footer-info:hover {
  background-color: rgb(208, 237, 222);
}

/* Responsive Media Qyary */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams,
  .sponsor-companies,
  .features {
    flex-direction: column;
  }
  .nav-links,
  .sponsor-companies {
    gap: 30px;
  }
  .brand {
    font-size: 2rem;
  }
  .banner-title,
  .sponsor-info {
    font-size: 2rem;
  }
  .team-img-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
  }
  #Experience-badge {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .our-features,
  .sponsor-info,
  .sponsor-companies {
    margin-left: 20px;
  }
  .facts-container {
    justify-items: center;
    gap: 30px;
  }
  .sponsor-companies {
    justify-items: center;
    gap: 50px;
  }
  .footer-info {
    align-items: center;
    margin: 20px 20px;
    align-items: center;
  }
}

/* Medium Size Device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
  }
  .our-features {
    margin: 50px auto;
  }
  #Experience-badge {
    margin: 0 auto;
  }
  .some-facts-title {
    justify-items: center;
  }
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
  }
  .sponsor-companies {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;
  }
  .footer-info {
    align-items: center;
    margin: 40px 30px;
    align-items: center;
  }
}
